button {
    border: none;
    background-color: #ACBFA4;
    font-size: 45px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: #ffffff;

}

.sqRoot, .squared {
    grid-column: span 2;
}

.equals {
    grid-column: 3 / 5;
    background-color: #cc4f7b;
}

.equals:hover {
    background-color: #dd8ca9;
}